<!DOCTYPE html>
{{/* Cache params once for all partials */}}

{{ $params := partial "params-helper.html" . }}
{{ $dataTheme := "" }}

{{ if and (ne $params.colorTheme "auto") (eq $params.enableColorThemeSwitcher false) }}
    {{ $dataTheme = $params.colorTheme }}
{{ end }}

<html lang="{{ site.Params.locale | default site.LanguageCode }}" data-theme="{{ $dataTheme }}">
<head>
    {{ block "head" . }}
        {{ partial "head/head.html" . }}
    {{ end }}
</head>
<body>
    <a class="skip-main" href="#main">{{ i18n "skipToContent" }}</a>
    <div class="container">
        <header class="common-header">
            {{ block "header" . }}
                {{ partial "head/header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1">
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>
    <nav class="side-nav noselect">
        <span class="side-nav-label">explore</span>
        {{ if not .IsHome }}
            <a href="/">Blog</a>
        {{ end }}
        {{ range site.Menus.main }}
            <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{ end }}
        <a href="/index.xml"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align:middle;margin-right:3px"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M4 4a16 16 0 0 1 16 16" /><path d="M4 11a9 9 0 0 1 9 9" /></svg>RSS</a>
    </nav>
</body>
</body>
</html>
