{{ $params := partial "params-helper.html" . }}

{{ range $params.customJS }}
    <!-- Support remote custom js -->
    {{ if or (hasPrefix . "http") (hasPrefix . "https") }}
      <script src="{{ . }}" crossorigin="anonymous" defer></script>
      {{ continue }}
    {{ end }}

    <!-- Load local custom js -->
    {{ $r := "" }}
    {{ with resources.Get .  }}
      {{ $r = . }}
    {{ else }}
      {{ errorf "Anubis2: You defined customJS, but './assets/%s' was not found, please check your config." . }}
    {{ end }}

    {{ if $r }}
      {{ with $r | minify | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
      {{ end }}
    {{ end }}
{{ end }}
