{{ partial "resource.html" (dict "context" . "type" "js" "filename" "js/load-mermaid.js") }}
{{ $params := partial "params-helper.html" . }}

<script type="module">
    function detectCurrentScheme3() {
        const defaultTheme = "{{ $params.colorTheme }}";
        if (localStorage !== null && localStorage.getItem("user-color-scheme")) {
            return localStorage.getItem("user-color-scheme");
        }
        if (defaultTheme === "dark" || defaultTheme === "light") {
            return defaultTheme;
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    }

    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    window.mermaid = mermaid;
    window.initMermaid()
    document.body.dispatchEvent(new CustomEvent(detectCurrentScheme3() + "-theme-set"));
</script>
